@import '~nativescript-theme-core/css/core.light.css';

.card {
    margin: 30;
    background-color: pink;
}

.text {
    margin: 30;
}

.text-field {
    background-color: green;
    border-color: magenta;
}
